
/*--------------   BASE STYLES --- THINGS THAT APPLY UNIVERSALLY TO ALL DEVICES -----------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    font-size: 16px;
}

  /*CHANGED TO TOPNAV FROM .HEADER  */
.topnav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column nowrap;
    padding: 65px 15px 15px;
    z-index: 2;
    background-color: #653BA8;
    width: 100%;
    overflow: hidden;
}

  /* Style the links inside the navigation bar -LETS SEE IF WE CAN COVERT TO FLEX! */
  .topnav a {
    float: left;
    display: block;
    color: #D0B9F7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #653ba8;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: #fcfcfc;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    /* background-color: #D0B9F7; */
    color: #D0B9F7;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 

  .topnav span.logo {
    font-family: 'Pacifico', cursive;
    font-size: 2.25rem;
    font-weight: normal;
    color: #D0B9F7;
}

.fa {
    font-size: 1.75rem;
}

body {
    font-family: 'Montserrat', sans-serif;  
    font-size: 1rem;
    color: #fcfcfc;
    background-color: #653BA8;
}

.hide {
    display: none;
}

/*----------------   SLIDER STYLES ---------------*/
/* Slideshow container */
.slideshow-container {
    max-width: 1150px;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: 28px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: #653BA8;
  }
  
  /* Caption text */
  .text {
    color: #653BA8;
    font-size: 1.25rem;
    padding: 20px 12px;
    /*
    bottom: 8px; */
    width: 100%;
    text-align: center;
    font-style: italic;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #A989E0;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*---------------------------------------   MOBILE STYLES ----------------------------------------*/
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
}

h2 {
    /*font-family: 'Oswald', sans-serif; */
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 15px 15px;
}

h3 {
    /*font-family: 'Oswald', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 1.375rem;
    font-weight: 700;
    padding: 25px 10px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 5px 10px;
}

a {
    color:#fcfcfc;
}

.hero span {
    color:#653BA8;
}

.hero p {
    font-weight: bolder;
}

.location p {
    line-height: 1.75rem;
}

img {
    width: 100%;
}
 
figure {
        margin: 0;
}



.header h1 {
    font-family: 'Pacifico', cursive;
    font-size: 2.25rem;
    font-weight: normal;
    color: #d0b9f7;
    width: 100%;
    text-align: center;
}

.header nav {
    width: 100%;
}

.header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0 auto;
}

.header nav ul li {
    list-style: none;
    line-height: 1.75rem;
    padding: 6px;
    color: #fcfcfc; 
}

.filler {
    background-color: #653BA8;
    height: 150px;
}

.hero {
    background-image: url("../img/pineapple-supply-co-n_CvvktBf-Q-unsplash.jpg");
    background-size: cover;
    width: 100%;
    height: 395px;
    padding: 15px;
    text-align: center;
}

.hero h1 {
    /*font-family: 'Oswald', sans-serif; */
    font-family: 'Raleway', sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
    padding: 140px 10px 0px 10px;
}

.work {
    background-color: #D0B9F7;
    padding: 15px 0;
}

.work img {
   /* width: 83%; */
    border-radius: 10px;
    /* box-shadow: 5px 5px #653BA8B3;  
    Removing due to slider setup*/
}

.work h2 {
    text-align: center;
    color: #653ba8;
}

a {
   /* padding: 25px; - removing because it makes the images off-center */
    text-decoration: none;
}

.portfolio {
   /* display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap; 
    Removing because of slider styles 
    text-align: center; 
    border: 1px solid #653BA8;
    border-radius: 8px;
    background-color: #fcfcfc; */ 
    color: #36048c;
    margin: 35px;
    overflow: hidden;
}

.description {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
    text-align: center;
}

.portfolio p {
    padding: 0px 15px 15px;
}

.about {
    background-color: #A989E0;
    padding: 15px;
    text-align: center;
    color: #36048c;
}

.about h2 {
    padding-bottom: 10px;
}

.photo img {
width: 60%;
border-radius: 15px;
opacity: 60%;
}

.contact {
    padding: 15px;
    text-align: center;
}

.hire, 
.social, 
.location {
    width: 80%;
    border: 1px solid #A989E0;
    border-radius: 8px;
    margin: 15px auto;
    padding-bottom: 15px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    text-shadow: 0 0px 5px #36048c;
    width: 50%;
    margin: 0 auto;
}

  /****************  FOOTER  ****************/

  footer {
    padding: 10px;
    text-align: center;
}

  .copyright {
    font-size: 0.875rem;
}

footer span.logo {
    font-family: 'Pacifico', cursive;
    font-size: 1.25rem;
    font-weight: normal;
    color: #D0B9F7;
}

.fas, 
.fab {
    color: #D0B9F7;
}


/**************  MEDIA QUERIES FOR HAMBURGER MENU **********************/
 /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 1200px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-flow: column nowrap;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 1200px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      display: flex;
      justify-content: space-between;
      align-content: center;
      flex-flow: column nowrap;
    }
  } 
/*--------------------------------------   TABLET STYLES  ---------------------------------------------*/
@media only screen and (min-width: 768px) {
    
    .topnav {
        flex-flow: row nowrap;
        justify-content: space-around;
    }

    .topnav a {
        padding: 15px;
    }

    .topnav span.logo {
        padding: 15px;
        width: 50%
    }

    /*
    header nav ul {
        flex-flow: row nowrap;
    }

    .header nav ul li {
        padding: 16px;
    }  
    */

    .hero h1 {
        padding: 245px 10px 5px 0px;
        margin: auto;
    }

    .hero p {
        width: 65%;
        margin: 0 auto;
    }

    /* .work {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    } 
    Removing because slider container styles are in place*/

   /* .work img {
        width: 75%;
    } */

    .portfolio {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        flex-flow: column;
        margin: 5px 75px 35px;
    }

    .portfolio p {
        padding: 0px 20px 25px;
    }

    /*.work img {
        width: 92%;
    } */

    .about {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
        padding-bottom: 20px
    }
    
    .about h3 {
        padding: 0px 0px 5px;
    }

    .about h2 {
        width: 75%;
        text-align: left;
    }

    .about .photo {
        width: 37%;
    }

    /*.about .photo img {
        width: 60%;
    } */

    .about .about-me {
        width: 53%;
        text-align: left;
    }

    .social-icons {
        width: 35%;
    }
}


/*-------------------------------------------   DESKTOP STYLES ----------------------------------------------*/
@media only screen and (min-width: 1200px){

    a:link {
        color: #fcfcfc;
    }
    
    a:hover {
        color:#D0B9F7;
    }  
    /* hover must come after link and active to be effective!  It only applies to non-touch-screen devices */

    a:active {
        color: #A989E0;
    }
    /* active must come after hover to be effective! */

    .grow {
        transition: transform 0.3s ease-in-out;
    }

    .grow:hover {
        transform: scale(1.08);
    }


    .header h1 {
        text-align: left;
        padding: 0 55px;
    }

    .header nav ul {
        justify-content: flex-end;
        padding-right: 30px;

    }

    .hero h1 {
    padding: 200px 10px 5px 0px;
    }

    .hero p {
        font-size: 1.25rem;
        padding-top: 10px;
        width: 40%;
    }

    .work {
       margin-top: 40px;
       margin-bottom: 15px;
    } 

    .work h2 {
        width: 100%;
    }

    .work h4 {
        padding: 0 20px;
    }

    .work img {
       /* width: 40%; */
        overflow: auto;
    } 

    .portfolio {
        margin: 5px 60px; 
       /* max-height: 600px; */
        flex-flow: row wrap;
        justify-content: center;
    }

    .portfolio .text {
        padding-bottom: 30px;
    }

    .portfolio .description {
        width: 50%;
        justify-content: center;
    }

    .portfolio p {
        padding: 0 60px 15px;
    }

    /***************** ABOUT SECTION  ********************/
    figure {
        margin: 0.375rem;
        width: 80%;
    } /*This applies to About and Portfolio */

    .photo figure {
        width: 75%
    }

    .photo img {
        width: 50%;
    }

    /****************** CONTACT SECTION  *****************/
    .contact {
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-flow: row wrap;
    }

    .contact h2 {
        width: 100%;
    }

    .hire, .social, .location {
        width: 30%;
        height: 185px;
    }

}